{% extends "base.html" %}

	{% block title %}Contact Us - Greenbean{% endblock %}
	
	{% block main %}	
	<!-- FULLBAR --> 
	<div id="fullbar">
		<h1>Contact Us</h1>
		<p>Feel free to contact us with service questions, partnership proposals, advertising opportunities or media inquiries.</p>
		<p>info@greenbean.me</p>
		<p>Our Facebook Page: <a href="http://www.facebook.com/#!/apps/application.php?id=112884208756371">Facebook</a></p>
	</div>
      </div> 
    </div> 
    
  </div> 
  </div><!-- /fullbar -->
	{% endblock %}	

	{% block sidebar %}
	<!-- no sidebar -->
	{% endblock %}