{% extends "base.html" %}

	{% block title %}Greenbean.me{% endblock %}
	
	{% block main %}	
	<!-- FULLBAR --> 
	<div id="fullbar">
		<h1>Admin</h1>
		<div class="admin-block">
			<h2>Init Category Beans</h2>
			<form action="/admin/init-category-beans" method="POST">
					<input type="submit" name="create" value="Submit">
			</form>	
		</div>
		<div class="admin-block">
			<div id="category-list">
				<h2>Category Beans</h2>
				{% for c in categories %}
				<ul>
					<li>Name: {{c.name}}</li>
					<li>Slug: {{c.slug}}</li>
					<li>Description: {{c.description}}</li>
					<li>Key Name: {{c.key.name }}</li>
					<li>Beans: {{c.beans}}</li>
				</ul>			
				{% endfor %}
			</div>
		</div>			
                         
  </div><!-- /fullbar -->
	{% endblock %}	
	{% block sidebar %}	
	{% endblock %}