{% extends "base.html" %}

	{% block title %}Contact Us - Greenbean{% endblock %}
	
	{% block main %}	
	<!-- FULLBAR --> 
	<div id="fullbar">
		<div id="page">
			<h1>Contact Us</h1>
			<p>Feel free to contact us with service questions, partnership proposals, advertising opportunities or media inquiries.</p>
			<p><strong>email:</strong><br/>info@greenbean.me</p>
			<p><strong>mail:</strong><br/>
			SuperKablamo, LLC
			210 Rockview<br/>
			Irvine, CA<br/>
			92612</p>
			<p><strong>Facebook:</strong><br/> <a href="http://www.facebook.com/#!/apps/application.php?id=112884208756371">Greenbean.me Facebook Page</a></p>
		</div><!-- /page -->
  </div><!-- /fullbar -->
	{% endblock %}	

	{% block sidebar %}
	<!-- no sidebar -->
	{% endblock %}