{% extends "base.html" %}

	{% block title %}About Us - Greenbean{% endblock %}
	
	{% block main %}	
	<!-- FULLBAR --> 
	<div id="fullbar">
		<div id="page">
			<h1>About Us</h1>
			<p>Greenbean.me is a leader board service that ranks people and communities on their green activities.  Sign up using your existing Facebook or Twitter account and start logging all the &quot;green&quot;	things you do, and earn votes (greenbeans) from friends and neighbors.</p>
				<br/>
				<h2>This Is How It Works</h2>
				<ul>
					<li>Sign in using your existing Facebook account.</li>
					<li>Do something green and update your status, like, &quot;I rode my bike to work.&quot;</li>
					<li>Share your green updates with your friends on Facebook.</li>
					<li>Friends vote on your status updates.</li>
					<li>You earn points and increase the ranking of you and your neighborhood.</li>
				</ul>
			</p>
			<br/>
			<h2>Everyday is Earth Day</h2>
			<p>For each status update, Greenbean users can vote on that status once.  You earn more votes by updating your status regularly (being green daily).</p>
				<br/>
				<h2>Is Your Town The Greenest Of Them All?</h2>
				<p>Greenbean also ranks votes by location, so enlist your neighbors and prove that your community is greenest	of them all!</p>    
				<h2>What's The Point?</h2>
				<p>To promote sustainable activities, encourage friends and neighbors to go green, and recognize all the small but important daily efforts of people around the world to preserve the earth - we've only got one!</p>				
		</div><!-- /page --> 
  </div><!-- /fullbar -->
	{% endblock %}	

	{% block sidebar %}
	<!-- no sidebar -->
	{% endblock %}