{% extends "base.html" %}

	{% block title %}About Us - Greenbean{% endblock %}
	
	{% block main %}	
	<!-- FULLBAR --> 
	<div id="fullbar">
		<h1>About Us</h1>
		<p>Greenbean.me is a leader board service that ranks people and communities on their green status.
		Sign up using your existing Facebook or Twitter account and start logging all the &quot;green&quot;
		things you do, and earn votes from friends and neighbors.</p>
		<br/>
		<h2>This Is How It Works</h2>
		
		<ul>
		<li>Sign in using your existing Facebook or Twitter account.</li>
		<li>Do something green and then update your status, like, &quot;I rode my bike to work.&quot;</li>
		<li>Your status updates will be broadcast to your social network(s) of choice.</li>
		<li>Friends and followers vote on your status updates.</li>
		<li>You earn points and increase your rank.</li>
		</ul>
		</p>
		<br/>
		<h2>Everyday is Earth Day</h2>
		<p>For each status update, Greenbean users can vote on that status once.
		You earn more votes by updating your status regularly (being green daily).</p>
		<br/>
		<h2>Is Your Town The Greenest Of Them All?</h2>
		<p>Greenbean also ranks votes by location, so enlist your neighbors and prove that your community is greenest
		of them all!</p>      

                         
  </div><!-- /fullbar -->
	{% endblock %}	

	{% block sidebar %}
	<!-- no sidebar -->
	{% endblock %}